.article-img {
    padding: 2rem 0;
    @media screen and (min-width:1024px) {
        max-width: 350px;
        padding: 2rem;
        display: inline;
        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
    }
    &-text {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-top: 1rem;
        color: #535353;
    }
}
figure {
    margin: 0;
}

.illuminated-letter {
    font-size: 56px;
    display: flex;
    align-items: center;
    float: left;
    padding: 22px 15px;
    border: 1px solid #F76900;
    margin-right: 14px;
    margin-bottom: 4px;
    margin-top: 8px;
}

hr {
    margin: 48px auto;
    max-width: 200px;
}

.nuxt-content-container {
    max-width: 68em;
    margin: 0 auto;
}
